aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
browser-cookie3
cachetools
certifi
cffi
charset-normalizer
click
colorama
curl_cffi
distro
frozenlist
gemini-webapi
gitdb
GitPython
h11
h2
hpack
httpcore
httpx
hyperframe
idna
Jinja2
jiter
jsonschema
jsonschema-specifications
loguru
lz4
markdown-it-py
MarkupSafe
mdurl
multidict
narwhals
numpy
openai
orjson
packaging
pandas
pillow
propcache
protobuf
pyarrow
pycparser
pycryptodomex
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
python-dotenv
python-gemini-api
pywin32
referencing
requests
rich
rpds-py
shadowcopy
six
smmap
sniffio
streamlit
tenacity
toml
tornado
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
win32_setctime
WMI
yarl
